<a href="https://colab.research.google.com/github/karankapadiya12/Python-/blob/main/day_6_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
set1.remove(3)
set1

{1, 2, 4, 5}

In [ ]:
s2 = {10,21,30,21}
s2.discard(21)

In [ ]:
s2

{10, 30}

In [2]:
#set Add  
a = {"karan","rahul", "kumar"}
a.add("alpesh")
a

{'alpesh', 'karan', 'kumar', 'rahul'}

In [ ]:
#set clear
set3 = {1,2,3,4,5,6,7}
set3.clear()
set3

set()

In [6]:
# Set copy
fruits = {"Apple" , "Kiwi" , "Banana"}
x = fruits.copy()
print(x)

{'Apple', 'Banana', 'Kiwi'}

In [9]:
#Set diffrence 
s1 = {"Football","Cricket","Tenns"}
s2 = {"Apple" , "Kiwi" , "Banana" , "Football" , "Cricket"}
z = s1.difference(s2)           #same value are not include
x = s2.difference(s1)
print(z)
print(x)

{'Tenns'}
{'Kiwi', 'Banana', 'Apple'}

In [13]:
#Set differnce_update
s3 = {"Football","Cricket","Tenns","hockey"}
s4 = {"Apple" , "Kiwi" , "Banana" , "Football" , "Cricket"} # same value 
s3.difference_update(s4)
s3

{'Tenns', 'hockey'}

In [16]:
#Set intersection
s3 = {"Football","Cricket","Tenns","hockey"}
s4 = {"Apple" , "Kiwi" , "Banana" , "Football" , "Cricket"}
s5 = s3.intersection(s4)                                    # same value
s5

{'Cricket', 'Football'}

In [20]:
#Set union
a = {1,2,6}
b = {2,5,4,3,10,12}
c = {2,6,5,7,8,9}
d = a.union(b,c)            #all elements in set but don't repeat 
d

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [22]:
#Set isdisjoint
a = {"div" , "rahul" , "karan"}
#b = {"div" , "bhargav" , "dhaval"} # one items in set than give me a True
b = {"bhargav" , "dhaval"}
c = a.isdisjoint(b)
c

True

In [25]:
#Set issubset
x = {1,2,3,4,5,6}
#y = {2,3,4}
y = {1,2,3,4,5,6}   # all items in set than give me a True
z = x.issubset(y)
z

True

In [29]:
# Set pop / remove
x = {10,20,30}
y = {50,20,90}
x.pop()             #This method returns the removed item. removed first element
x.pop()             #remove second element
y.remove(50)    #The remove() method removes the specified element from the set.
x
y

{20, 90}

In [35]:
#Set symetric
a = {1,2,3,45,6}
b = {2,60,50,4,0,45}
c = a.symmetric_difference(b) # contains all items from both set, but not the items that are present in both sets.
c

{0, 1, 3, 4, 6, 50, 60}

In [41]:
#Set symmetric_difference_update
a = {1,2,3,45,6,600,555}
b = {1,2,60,50,4,0,100,20}
a.symmetric_difference_update(b) #same value are not include
a

{0, 3, 4, 6, 20, 45, 50, 60, 100, 555, 600}