<a href="https://colab.research.google.com/github/karankapadiya12/Python-/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add (a,b):
  c = a+b
  print(c)

add(20,25)

45

In [ ]:
name = (input("Enter your name "))
def good(name):
  
  print("good",name)
good("karan")

good karan

In [ ]:
def avg(a,b):
  c = (a+b)/2
  print(c)
avg(25,12)

18.5

In [ ]:
def list(f):
  x = []
  for a in f:
    if a not in x:
      x.append(a)
  return(x)

In [ ]:
  list([1,1,1,2,2,2,23,3,3,32,21,23,1,5,3])

[1, 2, 23, 3, 32, 21, 5]

In [7]:
def reverse_string(n):
  l1 = len(n) 
  l2 =""
  for i in range(l1-1,-1,-1):
    l2=l2+n[i]
  print(l2)

In [10]:
reverse_string("karan")

narak